<div class="container mt-3">
    <div class="card">

    
                <div class="row">
                <div class="col"> 
                    <div class="card-img-top">
                        <img [src]="imageLink" alt="" />
                    </div>
                </div>
                <div class="col">
                    <div class="card-header">
                        {{employee.id}}
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">FirstName: {{employee.firstName | titlecase}}</li>
                            <li class="list-group-item">LastName: {{employee.lastName}}</li>
                            <li class="list-group-item">Gender: {{employee.gender}}</li>
                            <li class="list-group-item">Email: {{employee.email}}</li>
                            <li class="list-group-item">Phone: {{employee.phone}}</li>
                            <li class="list-group-item">Type: {{employee.level}}</li>
                            <li class="list-group-item">Age: {{employee.age}}</li>
                            <li class="list-group-item">Salary: {{employee.salary}}</li>
                            <li class="list-group-item">Experience: {{employee.experience}}</li>
                            <button class="btn btn-primary" [routerLink]="['/list']"
                                queryParamsHandling='preserve'>Back
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>